parametrisation/growth_altering_effect/data/dendro_RESEF.rds
parametrisation/growth_altering_effect/data/nci_dat.rds
parametrisation/growth_altering_effect/data/neighbors.rds
parametrisation/growth_altering_effect/data/place_RESEF.rds
parametrisation/growth_altering_effect/data/sp_RESEF.rds
parametrisation/MaxPotGrowth/data/growth_clim_PSP.rds